.header {
  position: absolute;
  padding-bottom: 20px;
  width: 98%;
  //background-color: #ddddff;
}

.nav {
  position: absolute;
  margin-top: 120px;
  width: 200px;
  //background-color: #ddddff;
  padding-top: 20px;
}

.main_body {
  position: absolute;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 200px;
  margin-top: 120px;
}

.logo_block {
  text-align:    center;
  margin-top:    0px;
  margin-bottom: 0px;
  padding:       0px;
}

.logo {
  border-style: none;
}

.link_to_welcome_page {
  border-style: none;
}

.site_title {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.nav_list {
  list-style: none;
}

.nav_list_item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.legal_section {
  margin-top: 30px;
}

.legal_text {
  font-size: x-small;
}
