.DS_Store
*.o
*~
*.snap
*.old
*.file_status
*.xcuserdatad
*.xcworkspace
CMake*/
build/
bin/*/runBinary
bin/*/AddTrailingNewline
bin/*/UpdateFiles
bin/*/cmprev
bin/*/cwdRootedIn
bin/*/dangling
bin/*/getRevision
bin/*/isLink
bin/*/linked
bin/*/lock_run
bin/*/makeDeps
bin/*/obj_patch
bin/*/removeUnderscore
bin/*/resetTime
bin/*/rself
bin/*/skipComments
bin/*/zap
vm/*/generated/incls/*.incl
vm/*/generated/incls/vmDate.c
vm/*/generated/Dependencies
vm/*/generated/Dependencies.cpp
vm/*/generated/Dependencies.hh
vm/*/generated/Objs.asm
vm/*/generated/Objs.fast_compiler
vm/*/generated/Objs.interpreter
vm/*/generated/Objs.lookup
vm/*/generated/Objs.memory
vm/*/generated/Objs.objects
vm/*/generated/Objs.os
vm/*/generated/Objs.parser
vm/*/generated/Objs.prims
vm/*/generated/Objs.runtime
vm/*/generated/Objs.sic
vm/*/generated/Objs.zone
vm/*/generated/Platform_*
vm/*/generated/Tags
vm/*/generated/glueCheckSum
vm/*/generated/glueFileList
vm/*/generated/incls/_precompiled.hh
vm/*/generated/includeDB
vm/*/optimized/Self
vm/*/optimized/_precompiled.hh.gch
vm/*/optimized/vmDate.s
