.DS_Store
*.o
*~
*.snap
*.snap.backup
*.old
*.file_status
*.xcuserdatad
*.xcworkspace
*.xcuserstate
*.OLD
build/
objects/glue/test*

.aider*

# CI
tools/ci/images/
tools/ci/logs/
tools/ci/*.pid
tools/ci64/images/
tools/ci64/logs/
build-ci-macos/
