.DS_Store
*.o
*~
*.snap
*.old
bin/linux/AddTrailingNewline
bin/linux/UpdateFiles
bin/linux/cmprev
bin/linux/cwdRootedIn
bin/linux/dangling
bin/linux/getRevision
bin/linux/isLink
bin/linux/linked
bin/linux/lock_run
bin/linux/makeDeps
bin/linux/obj_patch
bin/linux/removeUnderscore
bin/linux/resetTime
bin/linux/rself
bin/linux/skipComments
bin/linux/zap
vm/linux/generated/incls/*.incl
vm/linux/generated/Dependencies
vm/linux/generated/Dependencies.cpp
vm/linux/generated/Dependencies.hh
vm/linux/generated/Objs.asm
vm/linux/generated/Objs.fast_compiler
vm/linux/generated/Objs.interpreter
vm/linux/generated/Objs.lookup
vm/linux/generated/Objs.memory
vm/linux/generated/Objs.objects
vm/linux/generated/Objs.os
vm/linux/generated/Objs.parser
vm/linux/generated/Objs.prims
vm/linux/generated/Objs.runtime
vm/linux/generated/Objs.sic
vm/linux/generated/Objs.zone
vm/linux/generated/Platform_linux
vm/linux/generated/Tags
vm/linux/generated/glueCheckSum
vm/linux/generated/glueFileList
vm/linux/generated/incls/_precompiled.hh
vm/linux/generated/includeDB
vm/linux/optimized/Self
vm/linux/optimized/_precompiled.hh.gch
vm/linux/optimized/vmDate.s
